body {
    font-family: Didot;
    font-size: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    justify-content: left;
}

.resetButton {
    justify-content: right;
}